body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  position: relative;
}

/* .visible {
  visibility: visible !important;
} */

.active {
  color: #2c8db8 !important;
  /* background-color: #2c8db8; */
}
select:focus {
  outline: none;
}

.inputs:focus {
  outline: none;
}